<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baby-Site</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="min-h-screen bg-zinc-900" >
    <div class="flex flex-col justify-center items-center gap-20 m-10">
        <div class="grid grid-cols-3  items-center min-w-8/10 gap-10">
            <div class="flex items-center gap-3">
                <div id="open-upload" class="cursor-pointer">
                    <img src="/images/uploads/<%=user.profilepic %>" alt="dp" class="h-[50px] w-[50px] bg-transparent border-2 border-mauve-400 rounded-[50%]">
                </div>
                <p class="text-slate-500 font-bold text-lg"><%= user.username %></p>
            </div>
            <h1 class="text-stone-100 border-2 rounded-xl border-neutral-200 text-center font-bold p-2 justify-self-center">This is the profile page baby</h1>
            <a class="justify-self-end text-stone-100 border-2 rounded-xs border-neutral-200 font-bold px-5 py-2 bg-neutral-500 cursor-pointer hover:bg-stone-500 hover:text-olive-800 hover:rounded-xl transition ease-in 300 " href="/logout">Log Out</a>
        </div>
        
        <div class="border-2 border-neutral-600 rounded-xl p-5 min-w-4/10 flex flex-col justify-center items-center gap-10">
            <h1 class="text-neutral-200 text-center font-bold">Welcome <span class="text-mauve-500 font-bold"><%= user.username %></span></h1>
            <h2 class="text-stone-200 text-center font-bold">Do you wanna post something.. Start by writing what's on <span class="text-mauve-500 font-bold">your mind</span> and tell the world about your day .. !</h2>
            <form  class="flex items-start" action="/post" method="post">
                <textarea name="post" id="postInput" placeholder="Create a post.."
                class=" bg-transparent h-auto min-h-[70px] border-stone-500 border-2 rounded-xl text-zinc-400 outline-none p-3 md:w-[500px] resize-none"></textarea>
                <button class="text-stone-100 border-2 rounded-lg border-neutral-200 font-bold px-5 py-2 bg-mist-700 cursor-pointer hover:bg-mauve-700 hover:text-olive-300 hover:rounded-xl transition ease-in 300 ml-10" >Create</button>
            </form>
            
        </div>
        
        <div>
            <h2 class="text-neutral-700 font-bold mb-10 text-center">Your Posts...</h2>
            <div class="flex flex-row flex-wrap items-center gap-10 mb-10">
                
                <% user.posts.reverse().forEach((post)=>{ %>
                    <div class="border-2 rounded-xl border-stone-500 px-5 py-3 h-auto md:w-[400px]">
                        <h4 class="text-mauve-700  font-bold">@<%= user.username %></h4>
                        <p class="text-olive-500"><%= post.content %></p>
                        <div class="flex flex-row items-center gap-5 mt-5">
                            <div class="flex items-center gap-2">
                                <a href="/like/<%= post._id%>" class="cursor-pointer text-gray-700 font-bold">
                                    <% if(post.likes.indexOf(user._id) === -1){ %>
                                            Like
                                        <% } else{ %>
                                            Unlike
                                        <% } %>
                                </a>
                                <p class="text-gray-700"><%= post.likes.length %> likes</p>
                            </div>
                            
                            <a href="/edit/<%= post._id %>" class="cursor-pointer text-taupe-700 font-bold">Edit</a>
                        </div>
                        
                    </div>
                <% }) %>
                
                
            </div>
            
        </div>
    </div>

    <div id="upload-modal" class="hidden fixed top-0 left-0 w-full h-full bg-transparent backdrop-blur-xs justify-center items-center z-[1000]">
        <div class="bg-stone-900 p-10 border-2 rounded-xl border-olive-500 relative w-[60%] text-center">
            <button id="close-modal-btn" class="absolute top-[10px] right-[15px] cursor-pointer text-mauve-500 font-bold text-lg">X</button>
            <h2 class="rounded-xl px-5 py-3 text-olive-500 w-full text-center font-bold text-lg "> Upload Your Profile Pic</h2>
            <div class="border-2 border-neutral-600 rounded-xl p-5 min-w-4/10">
                <form id="upload-form" action="/profile/<%= user._id%>" method="post" autocomplete="off" enctype="multipart/form-data">
                    <div class="flex flex-col sm:flex-row items-center gap-4 w-full justify-center">
        
                        <label for="file-input" class="bg-olive-600 hover:bg-olive-700 text-stone-100 font-bold px-4 py-2 rounded-lg cursor-pointer transition dynamic-btn text-sm whitespace-nowrap">
                            Choose File
                        </label>
                        
                        <span id="file-name-display" class="bg-zinc-800 text-zinc-400 text-sm px-4 py-2 rounded-lg border border-neutral-700 min-w-[200px] max-w-[250px] truncate text-center">
                            No file chosen
                        </span>
                        
                        <input type="file" id="file-input" class="hidden" accept="image/*" name="image" required>
                        
                    </div>
                    <button class="text-stone-100 border-2 rounded-lg border-neutral-200 font-bold px-5 py-2 bg-mist-700 cursor-pointer hover:bg-mauve-700 hover:text-olive-300 hover:rounded-xl transition ease-in 300 mt-7" type="submit">Upload</button>
                </form>
            </div>
            
        </div>
    </div>
    <script src="/javascripts/index.js"></script>
</body>
</html>